name: docker

on:
  push:
    branches:
      - master

env:
  REGISTRY: ghcr.io
  PLATFORMS: linux/amd64,linux/aarch64

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get version
        id: "discovery-version"
        shell: "bash"
        run: |
          PKG_VERSION=$(grep 'version:' mix.exs | cut -d '"' -f 2)
          echo "PKG_VERSION=${PKG_VERSION}" >> $GITHUB_OUTPUT

      - name: Set image tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.discovery-version.outputs.PKG_VERSION }}

      - name: Build and Push Multi-Platform Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
